### IntelliJ IDEA ###

target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.idea
*.iws
*.iml
*.ipr

git_token.md

# testing
**/coverage

# production
**/build

/.settings
*.classpath
*.project