<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link href="shop.css" rel="stylesheet">
	<title>Đặt Đồ Ăn Trực Tuyến Ở 16 Tỉnh Thanh Phố Trên Toàn Quốc & Giao Hàng tận nơi | Đặt Món & Giao ship tận nơi | shopeefood.vn</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.2.0/css/all.min.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous"> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="./js/shop.js"></script>
</head>
<body>
	<div id="app">
		<div class="wrapper">
			<div class="now-detail-restaurant clearfix">
                <div class="container">
                    <div class="detail-restaurant-img">
                        <img src="https://images.foody.vn/res/g75/747170/prof/s640x400/foody-upload-api-foody-mobile-1-jpg-180606103333.jpg" alt="Lẩu Đức Trọc - Đường Láng" class="">
                    </div>
                    <div class="detail-restaurant-info">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a class="breadcrumb-link" rel="nofollow" href="/">Home</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a class="breadcrumb-link" rel="nofollow" href="/ha-noi">Hà Nội</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a class="breadcrumb-link" rel="nofollow" href="/ha-noi/lau-duc-troc-duong-lang">Lẩu Đức Trọc - Đường Láng</a>
                                </li>
                            </ol>
                        </nav>
                        <div class="kind-restaurant">
                            <span> Quán nhậu
                                <span> -
                                    <a class="link-brand" title="Lẩu Đức Trọc" rel="nofollow" href="/thuong-hieu/bia-duc-troc">Chi nhánh</a>
                                </span>
                            </span>
                        </div>
                        <h1 class="name-restaurant">Lẩu Đức Trọc - Đường Láng</h1>
                        <div class="address-restaurant">790 Đường Láng, Đống Đa, Hà Nội</div>
                        <div class="rating">
                            <div class="stars">
                                <span class="full">
                                    <i class="fas fa-star"></i>
                                </span>
                                <span class="full">
                                    <i class="fas fa-star"></i>
                                </span>
                                <span class="full">
                                    <i class="fas fa-star"></i>
                                </span>
                                <span class="full">
                                    <i class="fas fa-star"></i>
                                </span>
                                <span class="half">
                                    <i class="fas fa-star-half-alt"></i>
                                </span>
                            </div>
                            <span class="number-rating">10+</span>
                            đánh giá trên ShopeeFood
                        </div>
                        <div class="view-more-rating">
                            <a href="https://foody.vn/ha-noi/lau-duc-troc-duong-lang" rel="noopener noreferrer nofollow" target="_blank" class="number-review">Xem thêm lượt đánh giá từ Foody</a>
                        </div>
                        <div class="status-restaurant">
                            <div class="opentime-status">
                                <span class="stt online" title="Mở cửa"></span>
                            </div>
                        </div>
                        <div class="cost-restaurant">
                            <i class="fas fa-dollar-sign"></i>
                            15,000 - 875,000
                        </div>
                        <div class="share-social clearfix">
                            <div class="share-social-box">
                                <div class="fb-like" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="true" data-colorscheme="light" data-kid-directed-site="false"></div>
                            </div>
                        </div>
                        <div class="utility-restaurant clearfix">
                            <div class="utility-item">
                                <div class="utility-title">Phí dịch vụ</div>
                                <div class="utility-content">
                                    <span class="txt-bold txt-red"> 0.0% Phí phục vụ </span>
                                </div>
                                <span class="icon icon-partner-vi" data-toggle="modal" data-target="#modal-verify-merchant"></span>
                            </div>
                            <div class="utility-item">
                                <div class="utility-title">Dịch vụ bởi</div>
                                <div class="utility-content">
                                    <span class="txt-bold txt-red">ShopeeFood</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container relative clearfix">
                <div class="now-menu-restaurant">
                    <div class="menu-restaurant-tab">
                        <div class="item active">Thực đơn</div>
                    </div>
                    <div class="menu-restaurant-content-tab">
                        <div class="menu-restaurant-container">
                            <div class="menu-restaurant-category">
                                <div class="list-category" id="scroll-spy">
                                    <div class="scrollbar-container ps">
                                        <div class="item">
                                            <span id="1321082" title="LẨU &amp; MÓN THEO KG (NƯỚC LẨU GỌI RIÊNG)" class="item-link ">
                                                LẨU &amp; MÓN THEO KG (NƯỚC LẨU GỌI RIÊNG)
                                            </span>
                                        </div>
                                        <div class="item">
                                            <span id="1321008" title="CÁC MÓN LẨU NHÚNG" class="item-link ">
                                                CÁC MÓN LẨU NHÚNG
                                            </span>
                                        </div>
                                        <div class="item">
                                            <span id="1320992" title="MÓN KHAI VỊ" class="item-link active">
                                                 MÓN KHAI VỊ
                                            </span>
                                        </div>
                                        <div class="item">
                                            <span id="1320997" title="CÁC MÓN BÒ, BÊ, GÀ, LỢN, TRÂU" class="item-link ">
                                                CÁC MÓN BÒ, BÊ, GÀ, LỢN, TRÂU
                                            </span>
                                        </div>
                                        <div class="item">
                                            <span id="1321003" title="CÁC MÓN ẾCH, MỰC, CÁ, TÔM, CHIM" class="item-link ">
                                                CÁC MÓN ẾCH, MỰC, CÁ, TÔM, CHIM
                                            </span>
                                        </div>
                                        <div class="item">
                                            <span id="1321080" title="ĐỒ THÊM NHÚNG LẨU" class="item-link ">
                                                ĐỒ THÊM NHÚNG LẨU
                                            </span>
                                        </div>
                                        <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                                            <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                                        </div>
                                        <div class="ps__rail-y" style="top: 0px; right: 0px;">
                                            <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-restaurant-detail">
                                <div class="menu-restaurant-list">
                                    <div class="search-items">
                                        <p class="input-group">
                                            <i class="fas fa-search"></i>
                                            <input type="search" name="searchKey" placeholder="Tìm món" value="">
                                        </p>
                                    </div>
                                    <div id="restaurant-item">
                                        <div aria-label="grid" aria-readonly="true" class="ReactVirtualized__Grid ReactVirtualized__List" role="grid" tabindex="0" style="box-sizing: border-box; direction: ltr; height: auto; position: relative; width: 558px; will-change: transform; overflow: auto; outline: none;">
                                            <div class="ReactVirtualized__Grid__innerScrollContainer" role="rowgroup" style="width: auto; height: 6308px; max-width: 558px; max-height: 630px; overflow: hidden; position: relative;">
                                                <div class="menu-group" id="section-group-menu-1321082" style="height: 56px; left: 0px; position: absolute; top: 0px; width: 100%;">
                                                    <div class="title-menu">
                                                    LẨU &amp; MÓN THEO KG (NƯỚC LẨU GỌI RIÊNG)
                                                    </div>
                                                </div>
                                                <div class="item-restaurant-row" style="height: 81px; left: 0px; position: absolute; top: 56px; width: 100%;">
                                                    <div class="row">
                                                    <div class="col-auto item-restaurant-img">
                                                        <button class="inline">
                                                            <img src="https://images.foody.vn/default/s120x120/shopeefood-deli-dish-no-image.png" alt="01. Ếch Xào Thả Lẩu 0,5kg" width="60" height="60">
                                                        </button>
                                                    </div>
                                                    <div class="col item-restaurant-info">
                                                        <h2 class="item-restaurant-name">01. Ếch Xào Thả Lẩu 0,5kg</h2>
                                                        <div class="item-restaurant-desc">Riêng ếch là 0,5kg. Nhà hàng có tặng kèm măng.</div>
                                                    </div>
                                                    <div class="col-auto item-restaurant-more">
                                                        <div class="row ">
                                                            <div class="col-auto product-price">
                                                                <div class="old-price">
                                                                    159,000
                                                                    <span style="font-weight: 400;position: relative;top: -9px;font-size: 10px;right: 0;">đ</span>
                                                                </div>
                                                                <div class="current-price">
                                                                    151,050
                                                                    <span style="font-weight: 400;position: relative;top: -9px;font-size: 10px;right: 0;">đ</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-auto adding-food-cart txt-right">
                                                                <div class="btn-adding">+</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>
                                                <div class="item-restaurant-row" style="height: 81px; left: 0px; position: absolute; top: 137px; width: 100%;">
                                                    <div class="row">
                                                    <div class="col-auto item-restaurant-img">
                                                        <button class="inline">
                                                            <img src="https://images.foody.vn/default/s120x120/shopeefood-deli-dish-no-image.png" alt="01. Ếch Xào Thả Lẩu 0,5kg" width="60" height="60">
                                                        </button>
                                                    </div>
                                                    <div class="col item-restaurant-info">
                                                        <h2 class="item-restaurant-name">01. Ếch Xào Thả Lẩu 0,5kg</h2>
                                                        <div class="item-restaurant-desc">Riêng ếch là 0,5kg. Nhà hàng có tặng kèm măng.</div>
                                                    </div>
                                                    <div class="col-auto item-restaurant-more">
                                                        <div class="row ">
                                                            <div class="col-auto product-price">
                                                                <div class="old-price">
                                                                    159,000
                                                                    <span style="font-weight: 400;position: relative;top: -9px;font-size: 10px;right: 0;">đ</span>
                                                                </div>
                                                                <div class="current-price">
                                                                    151,050
                                                                    <span style="font-weight: 400;position: relative;top: -9px;font-size: 10px;right: 0;">đ</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-auto adding-food-cart txt-right">
                                                                <div class="btn-adding">+</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>
                                                <div class="item-restaurant-row" style="height: 81px; left: 0px; position: absolute; top: 218px; width: 100%;">
                                                    <div class="row">
                                                    <div class="col-auto item-restaurant-img">
                                                        <button class="inline">
                                                            <img src="https://images.foody.vn/default/s120x120/shopeefood-deli-dish-no-image.png" alt="01. Ếch Xào Thả Lẩu 0,5kg" width="60" height="60">
                                                        </button>
                                                    </div>
                                                    <div class="col item-restaurant-info">
                                                        <h2 class="item-restaurant-name">01. Ếch Xào Thả Lẩu 0,5kg</h2>
                                                        <div class="item-restaurant-desc">Riêng ếch là 0,5kg. Nhà hàng có tặng kèm măng.</div>
                                                    </div>
                                                    <div class="col-auto item-restaurant-more">
                                                        <div class="row ">
                                                            <div class="col-auto product-price">
                                                                <div class="old-price">
                                                                    159,000
                                                                    <span style="font-weight: 400;position: relative;top: -9px;font-size: 10px;right: 0;">đ</span>
                                                                </div>
                                                                <div class="current-price">
                                                                    151,050
                                                                    <span style="font-weight: 400;position: relative;top: -9px;font-size: 10px;right: 0;">đ</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-auto adding-food-cart txt-right">
                                                                <div class="btn-adding">+</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>       
                    </div>   
                </div>
            </div>                         

			<div id="topcontrol" class="topcontrol active">
				<div class="fd-back-top">
                    <div class="control-link" id="btn-back-top" onclick="page_scroll2top()">
                        <i class="fas fa-angle-up"></i>
                        <label>Quay lại đầu trang</label>
                    </div>
                    <a class="control-link" href="https://itunes.apple.com/us/app/deliverynow/id1137866760" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-apple"></i>
                        <label>Tải ứng dụng iOs</label>
                    </a>
                    <a class="control-link" href="https://play.google.com/store/apps/details?id=com.deliverynow" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-android"></i>
                        <label>Tải ứng dụng android</label>
                    </a>
                </div>
			</div>
		</div>

    
    </div>
<!-- Code injected by live-server -->
</body>
</html>